<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="./css/main.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
</head>

<body>
  <section id="section01">
    <div class="container">
      <div class="nav-bar">
        <div class="logo">
          <img src="img/logo.png">
        </div>
        <ul>
          <li>
            <a href="">Home</a><i class="fa-solid fa-angle-down"></i>
            <ul>
              <li>Home 1</li>
              <li>Home 2</li>
            </ul>
          </li>
          <li><a href="">About Us</a></li>
          <li>
            <a href="">Services</a><i class="fa-solid fa-angle-down"></i>
            <ul>
              <li>Services</li>
              <li>Services Details</li>
            </ul>
          </li>
          <li>
            <a href="">Projects</a><i class="fa-solid fa-angle-down"></i>
            <ul>
              <li>Projects</li>
              <li>Projects Details</li>
            </ul>
          </li>
          <li>
            <a href="">Pages</a><i class="fa-solid fa-angle-down"></i>
            <ul>
              <li>About Us</li>
              <li>Team</li>
              <li>Pricing</li>
              <li>404 Error</li>
              <li>FAQ</li>
              <li>Coming Soon</li>
              <li>Terms & Conditions</li>
              <li>Privacy Policy</li>
            </ul>
          </li>
          <li>
            <a href="">Blog</a><i class="fa-solid fa-angle-down"></i>
            <ul>
              <li>Blog Grid</li>
              <li>Blog Right Sidebar</li>
              <li>Blog Details</li>
            </ul>
          </li>
          <li><a href="">Contact</a></li>
        </ul>
        <div class="button">
          Get It Support
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>IT Solutions & Business Services Company</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, cum natus architecto rerum cupiditate in
            possimus nihil quibusdam nisi ipsa ea soluta perferendis voluptas officia vitae illo iure placeat. Nemo.</p>
          <div class="section01_buttons">
            <div class="button">About Us</div>
            <div class="button">Contact Us</div>
          </div>
        </div>
        <div class="col">
          <img src="img/home-font.png">
        </div>
      </div>
    </div>
  </section>
  <section id="section02">
    <div class="container">
      <h3>WHAT WE PROVIDE</h3>
      <h2>IT Solutions</h2>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </section>
</body>

</html>