#section01 p {
  font-size: 4rem;
  position: relative;
  color: black;
  text-align: center;
  top: 25%;
  z-index: 0;
}

#section01 p::before {
  content: '';
  background: #fff692;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 3s;
}

#section01 p:hover::before {
  content: '';
  position: absolute;
  /* background: #fff692; */
  width: 300px;
  height: 100px;
  padding: 1rem 5rem;
  top: -25px;
  left: 28%;
  z-index: -1;
  transform: scaleX(1);
  transform-origin: bottom left;
  /* transition: transform 3s; */
}